{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" style="position: relative; z-index: 100;">
    <label for="username">Username</label>
    <input style="position: relative; z-index: 1000;" name="username" id="username" required>
    <label for="password">Password</label>
    <input style="position: relative; z-index: 1000;" type="password" name="password" id="password" required>
    <a href="signup">
      <button class="btn btn-primary" type="submit">Register</button>
    </a>
  </form>

{% if invalid %}
<script>
  var invalidModal = new bootstrap.Modal(document.getElementById('invalidModal'));
  invalidModal.show();
</script>
{% endif %}

<div class="modal" tabindex="-1" id="invalidModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Invalid username or password.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}